.resume {
    background-color:whitesmoke;
    margin: 0 10% 10% 10%;
    font-family:'Trebuchet MS',sans-serif;
    border:grey;
    border-style:solid;
    border-width:1px;
    position:relative;
    padding:5px 10px;
    animation-name: slideOut;
    opacity:0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    
    
    
}
body{
    
    background-color:#dedede;
    
}

h1 {
    color: orangered;
}


.employer
{
    margin-top: 10px;
}

.sidebar {
    height: 100%;
    width: 15%;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:lightcyan;
    padding-top:20px;
    visibility:hidden;
}

.jobDate{
    float: right;
}

.jobLoc{
    float:right;
}


@keyframes hideName
{
    0% {opacity: 1;}
    100% {opacity: 0}
    
}

.startName
{
    
    animation-name:hideName;
    animation-duration: 1s;
    animation-delay:1s;
    animation-fill-mode: forwards;
    font-size:40px;
    font-style:italic;
}

@keyframes slideOut
{
    from {
        transform: scale(0);
        opacity:1;
    }
    to{
        transform: scale(1);  
        opacity:1; 
    }
}


